<!DOCTYPE html>
<html>
  <head>
    <title>Ensemble</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <link rel="icon" href="https://s-media-cache-ak0.pinimg.com/originals/fb/32/da/fb32da8ce21543afc691fd8d9125a6c0.png">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Francois+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://use.fontawesome.com/2a31d5a3fd.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>


    <script type="text/javascript">
      var kandyKey = "<%= ENV['ENSEMBLE_API_KEY'] %>"
    </script>

    <script type="text/javascript">
      var kandyDat = "<%= ENV['KANDY_DAT'] %>"
    </script>

    <script src="https://kandy-portal.s3.amazonaws.com/public/javascript/kandy/2.12.0/kandy.js"></script>

  </head>
    <body>


    <%= yield %>
    </body>


</html>
